<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--<add key="connectionDebug" value="https://uu.shenzhuo.vip/WebChatHub" />-->
		<add key="connectionDebug" value="http://localhost:5050/WebChatHub" />
		<add key="connectionRelease" value="http://localhost:5050/WebChatHub" />
		<!--<add key="connectionRelease" value="https://uu.shenzhuo.vip/WebChatHub" />-->
	</appSettings>

</configuration>